@model Shop.Models.ViewModels.ShoppingCartViewModel
@{
    ViewData["Title"] = "Searchproduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<br />
    <h2 class="text-info">คำสั่งซื้อสำเร็จ</h2>
    <div class="form-text">
        กรุณาตรวจสอบคำสังซื้อถ้าผิดพลาดตรงกรุณาติดต่อ เพื่อแก้ไขรายการ
    </div>
    <br />*@

<partial name="~/Views/Shared/_AppointmentCustomerDetails.cshtml" model="Model.Appointments" />
<br />

<partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Product" />

<div class="container-fluid pb-5">
    <a asp-area="Admin" asp-controller="SearchShoppingCart" asp-action="Index" class="btn btn-success "> กลับ</a>
</div>
