<div class="row text-white text-center bg-dark">
    <div class="col-sm-12 p-lg-5 my-5">
        <p>
            <h1>ยินดีต้อนรับ</h1>
        </p>
    </div>
</div>

<div class="row">
    <div id="textcenter" class="col-sm-4 p-5 ">
        <p>
            <h2>รีวิวผู้จากซื้อ</h2>
        </p>
    </div>
    <div class="col-sm-4 text-left ">
        <img src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.15752-9/118237404_3333042746752141_7342195777292621818_n.jpg?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_eui2=AeFlgRaBX4CIeSZ3_8ozynhNKgg36OuxqEMqCDfo67GoQ411QCZ6ZaJRajva66d_Sh4&_nc_ohc=Ti1MHhx-KOoAX9R8xoY&_nc_ht=scontent.fbkk22-3.fna&oh=a3d52624f9a52fb652f450fc3118eed7&oe=5FDBF3BD"
             class="thumbnail" style="width: 100% ">
    </div>
    <div class="col-sm-4 text-left ">
        <img src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.15752-9/117732729_4273766816028463_956761644947490692_n.jpg?_nc_cat=110&ccb=2&_nc_sid=ae9488&_nc_eui2=AeH5_7b5Wedz-bee5eh2wb_TDCWfg3_PDiwMJZ-Df88OLPqFFHcg7c_C32jzXvnCUAs&_nc_ohc=hYJunt-Yd1kAX9kTGgF&_nc_ht=scontent.fbkk22-3.fna&oh=4b8ecd1cc9339e7d7f90abe1296c8971&oe=5FD98164"
             class="thumbnail" style="width: 100% ">
    </div>
</div>

<div class="row  bg-dark text-white text-center ">
    <div class="col-md-12 p-5 ">
        <h2><i class="fas fa-store"></i> ร้านต่างหูหนีบ</h2>
        <p class="pt-1">
            ร้านต่างหูหนีบ ที่ร้า่นจะนำสินค้ามาเป็น lotๆ ส่วนใหญ่ไม่ซ้ำกัน
            สินค้าแบบที่มีมาส่วนใหญ่หมดแล้วหมดเลย <br>
            อัพเดตตามเทรนแฟชั่นไปเรื่อยๆ
            ที่ร้านจะถ่ายภาพต่างหูที่เป็นแบบเจาะ และเมื่อลูกค้าสั่งแม่ค้าจะแปลงเป็นแบบหนีบให้ทุกคู่<br>
            ใช้แป้นต่างหูหนีบมียางรองให้ทุกคู่เป็นหลัก
            ลูกค้าท่านใดอยากได้แป้นแบบสกรูแจ้งได้จร้า
            <br>
        </p>
        <p class="pb-5 ">
            <a asp-action="Detail" class="btn btn-primary"
               style="color: white;">ดูตัวอย่างสินค้า</a>
        </p>
    </div>
</div>