@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row text-white text-center bg-dark">
    <div class="col-sm-12">
        <div class="video-background-holder">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="~/videos/42019836_1052516578245616_6038489419231629044_n.mp4" type="video/mp4">
            </video>
            <div class="video-background-content container h-100">
                <div class="d-flex h-100 text-center align-items-center">
                    <div class="w-100 text-white">
                        <h1 class="display-4">ยินดีต้อนรับ</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-6 p-5 Ttextcenter ">
        <p>
            <h2>รีวิวผู้จากซื้อ</h2>
        </p>
    </div>
    <div class="col-sm-6 text-left ">

        <div class="carousel"
             data-flickity='{ "imagesLoaded": true,"freeScroll": true }'>
            <img class="detailShow img-fluid" src="~/images/PresentWeb/Review1.jpg" />
            <img class="detailShow img-fluid" src="~/images/PresentWeb/Review2.jpg" />
            <img class="detailShow img-fluid" src="~/images/PresentWeb/Review3.jpg" />
        </div>

    </div>

</div>

<div class="row  bg-dark text-white text-center ">
    <div class="col-md-12 pt-5">
        <h2><i class="fas fa-store"></i> ร้านต่างหูหนีบ</h2>
        <p class="pt-1">
            ร้านต่างหูหนีบ ที่ร้า่นจะนำสินค้ามาเป็น lotๆ ส่วนใหญ่ไม่ซ้ำกัน
            สินค้าแบบที่มีมาส่วนใหญ่หมดแล้วหมดเลย <br>
            อัพเดตตามเทรนแฟชั่นไปเรื่อยๆ
            ที่ร้านจะถ่ายภาพต่างหูที่เป็นแบบเจาะ และเมื่อลูกค้าสั่งแม่ค้าจะแปลงเป็นแบบหนีบให้ทุกคู่<br>
            ใช้แป้นต่างหูหนีบมียางรองให้ทุกคู่เป็นหลัก
            ลูกค้าท่านใดอยากได้แป้นแบบสกรูแจ้งได้จร้า
            <br>
        </p>
        <p>
            <a asp-action="Detail" class="btn btn-primary"
               style="color: white;">ดูตัวอย่างสินค้า</a>
        </p>
    </div>
</div>

<div class="row bg-dark">
    <div class="container-fluid">
        <div class="carousel "
             data-flickity='{ "imagesLoaded": true,"wrapAround": true }'>

            <img class="img-fluid" src="~/images/products/055ca30b-acd4-43b0-bd83-d8b4fdebaa7f.jpg">
            <img class="img-fluid" src="~/images/products/3072d5ab-5313-45e2-b936-78997d802ba1.jpg">
            <img class="img-fluid" src="~/images/products/4e091281-6487-4fb8-b99f-e067029d81cf.jpg">
            <img class="img-fluid" src="~/images/products/5816094e-f344-40b7-a2d8-319dbafc0fb7.jpg">
            <img class="img-fluid" src="~/images/products/7658a193-85e8-4591-b791-609ef3b22bcf.jpg">
            <img class="img-fluid" src="~/images/products/9cf9a6ea-5bbd-4612-a2ae-ab523176edd4.jpg">
            <img class="img-fluid" src="~/images/products/c3fe857e-191d-4ca8-92d6-3786a05eee6d.jpg">

        </div>
    </div>

</div>

