@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid pb-5">
    <section>
        <!---Pic--------->
        <div class="text-center">
            <span class="d-sm-none d-sm-block p-3">
                <img class="img-fluid img-thumbnail rounded-circle mx-auto d-block w-25 h-25"
                     src="~/images/profile/picprofile.jpg" alt="" />
            </span>
        </div>
        <hr class="m-0 " />
    </section>
    <!-- About-->
    <section>
        <div>
            <h1 class="mb-0 text-center">
                Panupong
                <span class="text-primary">KongKate</span>
            </h1>
            <div class="subheading ">
                56/17 Soi 7 · Chonlathep· Bang Phli Yai· Bang Phi·Samut Prakan·10540<br>
                Tel·09-0979-1629 ·E-mail·pnpkke@gmail.com
                <!-- <a href="mailto:name@email.com">name@email.com</a> -->
            </div>
            <hr class="m-0" />
            <div class="d-flex justify-content-start">
                <div>
                    <h3> Personal Data </h3>
                    <ul>
                        <ol>Date of Birth : Jun 16, 1995 </ol>
                        <ol> Age : 25yrs. </ol>
                        <ol> Height And Weight : 174.0 Cm. And 87.0 Kg. </ol>
                        <ol> Religion : Buddhism . </ol>
                        <ol> Nationality : Thai</ol>
                    </ul>
                </div>
                <div>
                    <ul>
                        <br>
                        <br>
                        <ol> Health : Excellent. </ol>
                        <ol> Line : pnpment </ol>
                        <ol> Facebook : facebook.com/pnp.ment </ol>
                        <ol> Marital Status : single </ol>
                        <ol> Military Status : Exempted </ol>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0 " />
    <!-- Education-->
    <section>
        <div>
            <h2 class="mb-3 text-center ">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">King Mongkut's Institute of Technology Ladkrabang</h3>
                    <div class="subheading mb-3">
                        Bachelor's Degree in College of Data Storage Innovation, Major
                        Manufacturing System Engineering
                    </div>
                    <p>GPA 2.12</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2014-2019</span></div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Ratchawinit Suvanabhum School</h3>
                    <div class="subheading mb-3">Lower-secondary And Upper-secondary </div>
                    <p>GPA 2.98 And GPA 3.14</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2008-2014</span></div>
            </div>

        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section>
        <div>
            <h2 class="mb-3 text-center">Skills</h2>
            <div class="subheading">Additional Skills</div>
            <div class="d-flex justify-content-start">
                <ul>
                    <li>C/C++</li>
                    <li>C#</li>
                    <li>Arduino</li>
                    <li>PLC</li>
                    <li>Internet of things</li>
                    <li>Ms word/Excel</li>
                </ul>
                <ul>
                    <li>Html5\Css3\Javascript</li>
                    <li>Asp.net core MVC </li>
                    <li>C# Winforms </li>
                    <li>Crystal Reports </li>
                    <li>Devexpress report </li>
                </ul>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Referencess-->
    <section>
        <div>
            <h2 class="mb-3 text-center">Referencess</h2>
            <p>
                จิณณวัตร แก่นธรรมวุฒิ (เก่ง) Assistant Manager - Application Management-Cards<br>
                E-mail jinnawat.k@chanwanich.com <br>

                บริษัท จันวาณิชย์ ซีเคียวริตี้พริ้นท์ติ้ง จำกัด : Chan Wanich Security Printing Co.,Ltd. <br>
                192 Suksawad Road Prasamutjedee Samutprakarn 10290 Thailand.
                <br>
                Tel (662) 815-6969 Ext. 4812 : Fax (662) 815-5605 : Mobile (6685) 122-7966
            </p>
        </div>
    </section>
</div>